@font-face {
	font-family: "Inter custom";
	src: url("/fonts/Inter-roman.var.woff2") format("woff2"),
	url("/fonts/Inter-roman.var.woff2") format("woff2-variations"),
	url("/fonts/Inter-roman.var.woff2") format("woff2 supports variations(gvar)");
}

body {
	background-color: #212429;
	color: #fff;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter custom";
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
